<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
	<title> Logotherapy </title>
<link rel="stylesheet" href="cassie.css" />
</head>

<body>
	

<img class="map" img id="barn2" src="static/obarn2.jpg" width="600" height="450" usemap="#firstmap">
<map name="firstmap">
<audio src="sitephotos/walking.mp3" controls="true" loop="true" autoplay="true" hidden="true"></audio> 
 
  <area shape="poly" coords="398,205,458,205,454,245,464,246,463,301,392,303,393,250,398,250" href="insidebarn2.html">
  <area shape="poly" coords="534,206,530,305,527,306,601,454,599,115,541,126,529,171,557,203,541,203" href="brickwall.html">
</map>
		
	

	

</body> 
</html>
