<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title> Logotherapy </title>
<link rel="stylesheet" href="cassie.css" />
</head>

<body>
	

<img class="map" img src="sitephotos/obrickwall.jpg" width="600" height="450" usemap="#firstmap">
<map name="firstmap">
<audio src="sitephotos/Walking4.mp4" controls="true" loop="true" autoplay="true" hidden="true"></audio> 
 
  <area shape="poly" coords="190,170,219,155,244,152,264,157,285,167,307,186,316,195,314,278,179,278,177,222,178,190" href="brickwallhouse.html">
</map>
		
	

	

</body> 
</html>
