<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Credits</title>
<link rel="stylesheet" href="cassie.css" />
<style>
p.small {
    line-height: 1%;
}
</style>

</head>

<body>

<p class="small">
<font color="#FFFFFF" size="7" face="Didot"><h1><em>Spirit Credits<br></em></h1></font>
<font color="#FFFFFF" size="1" face="Didot"><h1>A big thank you to Emily Johnson and my grandparents for their support.<br></h1></font>

<font color="#FFFFFF" size="1" face="Didot"><h1><a href="index.html">Back to Home</a><br></h1></font>
</p>

</body>
</html>
